.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 300px));
  padding: 50px 0;
  gap: 10px;
}

.grid h1 {
  padding: 0 0 20px 0;
}

.todo-card {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-card .todo-title {
  font-size: 1.2rem;
}

.grid h1 {
  color: rgb(177, 177, 255);
  cursor: pointer;
  background-color: rgb(67, 67, 67);
}

.grid > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}