* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #e1e1e1;
  margin: 50px auto;
  max-width: 1000px;

}

.currentProject {
  box-shadow: 0px 0px 5px 2px #c1c1c1;
  background-color: #1e1e1e;
  transition: all .3s;
}
